.regionContainer {
  position: relative;
  display: inline-block;
  text-align: center;
  z-index: 1000;
}

.regionButton {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #002DAA;
}

.regionButton:hover {
  background-color: #f0f0f0;
}

.regionDropdown {
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.regionItem {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.regionItem:hover {
  background-color: #ededed;
}