.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  width: 100%;
}

.pageButton {
  border: none;
  padding: 8px 8px;
  font-size: 11px;
  cursor: pointer;
  color: black;
  background-color: #fff;
  border-radius: 0px;
}

.pageButton:disabled {
  background-color: transparent;
}

.pageButton:hover {
  background-color: #fff;
  border-radius: 0px;
}

.pageNumber {
  background-color: #ffffff;
  padding: 8px 10px;
  font-size: 11px;
  transition: all 0.3s ease;
  color: black;
  border-radius: 0px;
}

.pageNumber:hover {
  background-color: #fff;
  border-radius: 0px;
}

.activePage {
  background-color: #fff;
  border-bottom: solid 1px #cdcdcd;
  color: #000;
  font-weight: bold;
  border-radius: 0px;
}

.activePage:hover {
  border-color: #ffffff;
  border-bottom: solid 1px #cdcdcd;
  border-radius: 0px;
}
