.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #93C9FF;
  border-radius: 5px;
}

.input:focus {
  border-color: #002DAA;
  outline: none;
}

.inputLabel {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}