@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  padding: 20px;
  height: auto;
  background-color: white;
  flex-grow: 1;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.tabContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #EAEAEA;
  color: rgb(0, 0, 0);

}

.tabButton:hover {
  background-color: #93C9FF;
  color: white;
}

.active {
  background-color: #002DAA;
  color: white;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.title {
  font-size: 18px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.contentWrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.mapContainer {
  max-width: 50%;
}

.mapContainer, .dataContainer {
  width: 100%;
  max-width: 360px;
}

.dataItem {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.dataName {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.dataLicenseDate,
.dataBusinessState,
.dataCloseDate,
.dataPhone,
.dataZipCode,
.dataRoadAddress,
.dataLotAddress,
.loadingText {
  font-size: 12px;
  color: #555;
  display: block;
  margin-top: 5px;
}

.dataValue {
  font-weight: bold;
  color: #000;
}

.noDataText{
  font-size: 12px;
  color: #555;
  border-bottom: 1px solid #ddd;
  margin: 10px;
  border-radius: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  width: 100%;
}

.pageButton {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 8px;
  font-size: 11px;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.pageButton:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
  border-color: #ccc;
  color: #aaa;
}

.pageNumber {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 11px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pageNumber:hover {
  background-color: #f0f0f0;
}

.activePage {
  background-color: #93C9FF;
  border-color: #93C9FF;
  color: white;
  font-weight: bold;
}
