.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map_container {
  width: 100%;
  min-width: 360px;
  height: 360px;
}

.selected_user_card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0px;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-top: 16px;
}

.selected_user_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.image_wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user_info {
  text-align: center;
  margin-top: 12px;
}

.user_name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.pet_details {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.description {
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.015em;
  font-weight: 700;
  color: rgb(17, 18, 32);
  width: 100%;
  padding: 0px 20px;
  text-align: center;
  white-space: pre-wrap;
}

.modal_button {
  width: 100%;
  padding: 6px 14px;
}

.intro_title {
  align-self: flex-start;
  font-size: 16px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  padding: 10px 0px;
}

.intro_description {
  font-size: 12px;
  line-height: 1.4rem;
  color: #444;
  text-align: start;
  padding-bottom: 10px;
}
