.wrapper {
}

.map_container {
  width: 100%;
  min-width: 360px;
  height: 360px;
}

.selected_user_image_wrapper {
  width: 100px;
  height: 100px;
}

.selected_user_image_wrapper > img {
  width: 100%;
  height: 100%;
}
