.floating_button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  position: fixed;
  right: calc(50% - 180px);
  bottom: 70px;
  z-index: 50;
  background-color: #93c9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.floating_button > img {
  width: 28px;
  height: 28px;
}
