@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* body {
  background-color: #e3f1ff;
} */

.total_wrap {
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 150px;
}

.content {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 50px 100px;
  box-shadow: 0px 0px 5px 5px #d7e1e5;
  border-radius: 100px;
  background-color: #fff;
}

.content ul h1 {
  display: flex;
  justify-content: center;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  color: #002daa;
  font-size: 25px;
}

.content ul li input {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: solid 1px #93c9ff;
  border-radius: 10px;
  background-color: #e3f1ff;
  padding: 0 10px;
}

.signupBtn {
  background-color: #93c9ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
}

.oauth {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.oauth::before {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background-color: #d7e1e5;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.oauth::after {
  content: "";
  flex-grow: 1;
  margin: 0px 16px;
  background-color: #d7e1e5;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.googleBtn {
  background: none; /* 기본 버튼 배경 제거 */
  border: none; /* 기본 버튼 테두리 제거 */
  padding: 0; /* 이미지 주위의 여백 제거 */
  cursor: pointer;
}

.googleBtn img {
  width: 200px;
}

.content ul li p {
  padding: 5px;
  color: red;
  font-size: 14px;
}

.navigate {
  display: flex;
  justify-content: right;
  font-size: 13px;
  color: rgb(0, 17, 147);
  cursor: pointer;
}
