@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 200px;
  border-radius: 20px;
}

.bannerLeft {
  flex-direction: row;
}

.bannerRight {
  flex-direction: row-reverse;
}

.bannerText {
  flex: 1;
  text-align: left;
  min-width: 300px;
}

.bannerLeft .bannerText {
  margin-left: 200px;
}

.bannerRight .bannerText {
  margin-left: 100px;
}
.bannerImage {
  max-width: 300px;
}

.bannerLeft .bannerImage, .bannerRight .bannerImage  {
  margin-left: 100px;
}

.highlight {
  font-size: 34px;
  line-height: 1.3;
  color: #002DAA;
  white-space: pre-line;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.banner h2 {
  font-size: 20px;
}

.bannerText p {
  font-size: 16px;
  color: #555;
  margin-top: 10px;
  line-height: 1.3rem;
  margin-bottom: 40px;
  white-space: pre-line;
}

.postSection {
  margin-top: 200px; /* 캐러셀과의 간격 조정 */
  padding-bottom: 300px;
  text-align: center; /* 텍스트 가운데 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa; /* 배경색 추가 */
  border-radius: 16px; /* 둥근 모서리 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); /* 부드러운 그림자 효과 */

}

.postSection h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.noPosts {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.viewMoreButton {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.viewMoreButton:hover {
  background-color: #0056b3;
}