@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.homewrapper {
  background-color: #F3F3F6;
}

.banner {
  align-items: center;
  padding: 20px 40px 50px;
  text-align: center;
}

.bannerText {
  flex: 1;
  text-align: left;
  min-width: 150px;
  text-align: center;
}

.bannerImage {
  max-width: 150px;
  margin-bottom: 20px;
}

.highlight {
  font-size: 20px;
  line-height: 1.3;
  color: #002daa;
  white-space: pre-line;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.banner h2,
.postSection h2 {
  font-size: 12px;
  font-weight: bold;
}

.bannerText p {
  font-size: 12px;
  color: #555;
  margin-top: 10px;
  line-height: 1rem;
  margin: 10px 0;
  white-space: pre-line;
}

.postSection {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postText {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  max-height: 100px;
  margin: 10px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.postsWrapper {
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noPosts {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.petMenuSection {
  text-align: center;
}