@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 200px;
  border-radius: 30px;
}

.bannerLeft {
  flex-direction: row;
}

.bannerRight {
  flex-direction: row-reverse;
}

.bannerText {
  flex: 1;
  text-align: left;
  min-width: 300px;
}

.bannerLeft .bannerText {
  margin-left: 100px;
}

.bannerImage {
  max-width: 300px;
}

.bannerLeft .bannerImage {
  margin-left: 50px;
}

.highlight {
  font-size: 34px;
  line-height: 1.3;
  color: #002DAA;
  white-space: pre-line;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.banner h2, .postSection h2 {
  font-size: 22px;
  font-weight: bold;
}

.bannerText p {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
  line-height: 1.8rem;
  margin: 40px 0;
  white-space: pre-line;

}

.postSection {
  margin-top: 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.postText {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  width: 100%;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.postsWrapper {
  width: 100%;
  background-color: antiquewhite;
  border-radius: 10px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.noPosts {
  font-size: 16px;
  color: #666;
  text-align: center;
}

.petMenuSection {
  text-align: center;
}

.menuContainer {
  display: flex;
  gap: 100px; 
  margin-top: 200px;
}


.menuItem img {
  width: 40%;
  height: auto;
}

.menuItem:hover img {
  transform: scale(1.1);
}

.postsButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}