@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.total_wrap {
  width: 100%;
  max-width: 360px;
  height: 52px;
  background-color: #fff;

  position: fixed;
  top: 0;
  z-index: 1000;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.content a {
  cursor: pointer;
}

.img {
  width: 70px;
}

.total_wrap ul {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.total_wrap ul li {
  font-size: 10px;
  align-items: center;
  display: flex;
}

.login {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.profileImage {
  width: 20px;
  cursor: pointer;
}
