@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.bannerImage {
  width: 100%;
  max-width: 600px;
}

.content {
  padding: 0 1px;
}

.title {
  font-size: 16px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  margin-bottom: 10px;
  text-align: center;
}

.description {
  font-size: 12px;
  line-height: 1.2rem;
  text-align: center;
  color: #444;
  white-space: pre-line;
}

.messageText {
  text-align: center;
  font-size: 16px;
  color: #777;
}

.categorySelect {
  margin: 5px 0;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.foodTableContainer {
  width: 100%;
  overflow-x: auto;
}

.foodTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  table-layout: auto;
  white-space: nowrap;
}

.foodTable th,
.foodTable td {
  border: 1px solid #ddd;
  padding: 10px;
  min-width: 100px;
}

.foodTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.foodTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.foodTable tr:hover {
  background-color: #f1f1f1;
}

.foodTable .foodValue {
  text-align: center;
}