.footer {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  bottom: 0;
  height: 80px;
}

.logo {
  width: 60px;
  height: auto;
  margin-bottom: 5px;
}

.text {
  font-size: 8px;
  color: #333;
}