.footer {
  width: 360px;
  position: fixed;
  bottom: 0;
  left: 50%;
  padding: 10px 0;
  transform: translateX(-50%);
  text-align: center;
}
.logo {
  width: 60px;
  height: auto;
  margin-bottom: 5px;
}

.text {
  font-size: 8px;
  color: #333;
}