.footer {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fefefe;
  padding: 10px;
  box-sizing: border-box;
}

.footer a {
  cursor: pointer;
}

.home {
  width: 30px;
}

.img {
  width: 25px;
}
