@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #0033cc;
  align-self: flex-start;
  margin-bottom: 5px;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
}

.input {
  width: 230px;
  border: 2px solid #93C9FF;
  border-radius: 10px;
  font-size: 12px;
}

.input::placeholder {
  color: #aaa;
  font-size: 12px;
}

.button {
  width: 100%;
  max-width: 100px;
  height: 40px;
  align-self: flex-end;
  font-size: 13px;
}