.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.toast_wrapper {
  max-width: 280px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.toast_title {
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
}

.toast_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast_description {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.4;
  padding: 8px;
  padding-right: 26px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* toast position */
.top-right {
  top: 16px;
  right: 16px;
}

.bottom-right {
  bottom: 16px;
  right: 16px;
}

.bottom-left {
  bottom: 16px;
  left: 16px;
}

.top-left {
  top: 16px;
  left: 16px;
}

.top-middle {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.toast_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
}

.toast_close > img {
  width: 100%;
  height: 100%;
}

.toast_close:hover {
  opacity: 0.7;
}
