@font-face {
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.footer {
  width: 100%;
  max-width: 360px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #fefefe;
  padding: 10px;
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  z-index: 100;
}

.footer div {
  cursor: pointer;
}

.footer a {
  cursor: pointer;
  font-family: "HakgyoansimDunggeunmisoTTF-B";
  font-size: 12px;
}

.menu_wrap {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 5px;
}

.img {
  width: 25px;
  height: 25px;
}
