.footer {
  width: 100%;
  max-width: 360px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: #fefefe;
  padding: 10px;
  box-sizing: border-box;

  position: fixed;
  bottom: 0;
  z-index: 100;
}

.footer a {
  cursor: pointer;
}

.home {
  width: 20px;
}

.community {
  width: 25px;
}

.menu {
  width: 25px;
  padding-bottom: 6px;
}
