.comments_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comments_wrapper {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.comment_body {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.main_wrapper {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comment_createdAt {
  font-size: 14px;
  color: #8e8e93;
  padding-left: 8px;
}

.main_wrapper > .description {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6rem;
}

.reply {
  font-size: 14px;
  cursor: pointer;
}

.comment_submit_form {
  width: 100%;
  max-width: 360px;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  padding: 8px 0;
  border-top: 1px solid rgb(231, 232, 235);
}

.comment_input {
  display: flex;
  padding-bottom: 8px;
}

.comment_input > input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: medium;
}
.target_comment {
  color: #002daa;
  padding: 4px 0px;
}

.actionmenu_wrapper {
  flex: 0 0 auto;
  margin-left: auto;
  display: flex;
  gap: 4px;
}

.actionmenu_wrapper > p {
  font-size: 14px;
  cursor: pointer;
}
