.errorWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  width: 600px;
  padding: 40px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.errorTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.errorMessage {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}

.homeButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #93C9FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homeButton:hover {
  background-color: #002DAA;
}